<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DirectorDuckV10"
        tools:targetApi="31">
        <activity
            android:name=".feature.mockexam.ui.MockExamWrongReviewActivity"
            android:exported="false" />
        <activity
            android:name=".feature.mockexam.ui.MockExamResultActivity"
            android:exported="false" />
        <activity
            android:name=".feature.mockexam.ui.MockExamQuizActivity"
            android:exported="false" />
        <activity
            android:name=".feature.mockexam.ui.MockExamListActivity"
            android:exported="false" />
        <activity
            android:name=".feature.report.ui.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".feature.favorite.ui.FavoriteCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.game.ui.CompareSizeGameActivity"
            android:exported="false" />
        <activity
            android:name=".feature.practice.ui.WrongReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.DirectorDuckV10" />
        <activity
            android:name=".feature.practice.ui.ResultActivity"
            android:exported="false"
            android:theme="@style/Theme.DirectorDuckV10" />
        <activity
            android:name=".feature.notice.ui.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.notice.ui.NoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.practice.ui.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".feature.community.ui.EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".feature.course.ui.CoursePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".feature.community.ui.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.ai.ui.AiActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".feature.auth.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.home.ui.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>